


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    background: url(../../../assets/images/banner3.jpeg) no-repeat scroll center / cover;
}

.imageOverContent,
.image {
    text-align: center;
    display: flex;
    width: 100%; 
    height: auto; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.image {
    width: 60%; 
    
}

.image img {
    max-width: 100%; 
    height: auto; 
    border-radius: 3px;
}

.imageOverContent h1 {
    font-size: 50px; 
    margin-top: 20px; 
}

.imageOverContent p {
    width: 90%; 
    text-align: center;
    font-size: 16px; 
}

.imageOverContent a {
    font-size: 20px; /* Adjust font size for smaller screens */
    text-decoration: none;
    color: rgb(96, 96, 96);
    background-color: white;
    border-radius: 20px;
    padding: 4px 20px;
    margin-top: 20px;
}

/* Add media query for responsiveness */
@media (max-width: 768px) {
    .imageOverContent h1 {
        font-size: 36px; /* Adjust font size for smaller screens */
        
    }

    .imageOverContent p {
        width: 100%; /* Adjust width for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
        
    }

    .imageOverContent a {
        font-size: 18px; /* Adjust font size for smaller screens */
        margin-top: 10px; /* Adjust margin for smaller screens */
    }
}
