*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    /* background-color: #c2c2c2; */
    justify-content: center;
    padding: 0px 20px;
    background: url(../../../assets/images/banner3.jpeg) no-repeat scroll center / cover;

}
.imageOverContent, .image{
    text-align: center;
    display: flex;
    /* background-color: #474747; */
    width: 50%;
    height: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}
.image{
    width: 40%;
    height: 70%;
    /* background-color: rgb(231, 231, 231); */
}
.image img {
    width: 60%;
    height: 100%;
border-radius: 3px;
}
.imageOverContent h1{
    font-size: 70px;
    /* margin-top: 100px; */
}
.imageOverContent p {
    width: 70%;
    text-align: center;
    font-size: 18px;
    
}
.imageOverContent a{
    font-size: 26px;
    text-decoration: none;
    color: rgb(96, 96, 96);
    background-color: white;
    border-radius: 20px;
    padding: 4px 20px;
    margin-top: 20px;
}