* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
}

.book {
    padding: 10px;
    display: flex;
    position: relative;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.arrow a:first-of-type ,
.arrow a:last-of-type {
    position: absolute;
    top: 150px;
    background-color: rgba(104, 95, 95, 0.6);
    color: white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.arrow a:first-of-type {
    left: 50px;
}

.arrow a:last-of-type {
    right: 50px;
}


.arrow a:first-of-type .css-i4bv87-MuiSvgIcon-root ,
.arrow a:last-of-type .css-i4bv87-MuiSvgIcon-root  {
    font-size: 40px;
}



.book::-webkit-scrollbar {
    display: none;
}

.box {
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 20px;
    background-color: #bababa;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 2px rgb(236, 236, 236);
}

.box h1 {
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.box img {
    width: 200px;
    height: 220px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}



.box h3 {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}