

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.searchBooks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
}

.bookLink {
    width: 45%; /* Adjust the width for smaller screens */
    max-width: 300px; /* Set a maximum width for larger screens */
    height: auto; /* Adjust the height for smaller screens */
    margin: 20px; /* Adjust margin for smaller screens */
    text-decoration: none;
    color: black;
}

.searchBook {
    width: 100%;
    position: relative;
    height: auto; /* Adjust the height for smaller screens */
    border-radius: 20px;
    text-align: center;
}

.searchBook img {
    width: 100%;
    height: auto; /* Ensure images maintain their aspect ratio */
    border-radius: 5px;
    transition: all 0.7s ease;
    box-shadow: 8px 8px 1rem 0.4rem rgb(213, 212, 212);
}

.searchBook img:hover {
    transform: scale(1.1);
}

.searchBook h1 {
    font-size: 18px; 
    text-align: center;
    margin-bottom: 10px;
}

.searchBook h3 {
    font-size: 14px; 
}

.searchBook p {
    color: red;
    margin: 10px 0px; 
}

/* Add media query for responsiveness */
@media (max-width: 768px) {
    .bookLink {
        width: 90%; 
        max-width: none; 
        margin: 20px auto; 
    }

    .searchBook h1 {
        font-size: 16px;
    }

    .searchBook h3 {
        font-size: 12px; 
    }
}
